// Start Colors
$blue: #2196f3;
$dark-blue: #1477c8;
$red: #f44336;
$dark-red: #b6352b;

$green: #4caf50;
$text-color: #555;

$dark-theme-bg: #222;
$second-dark-theme-bg: #084444;
$dark-theme-nav: #fff;

$light-theme-bg: #fff;
$second-light-theme-bg: lightblue;
$light-theme-nav: #222;

$transition-duration: 0.5s;
// End Colors

// Start Directions:
$left: left;
$right: right;
// End Directions
