.header
    h1 
        a(href='#home') Mohamed Habib
    ul
        li 
            a(href='#home' class="active") Home
        li 
            a(href='#about') About
        li 
            a(href='#skills') Skills
        li 
            a(href='#projects') Projects
        li 
            a(href='#education') Education
        li 
            a(href="#contact") Contact
    button(href="#" class='show-nav-btn') 
        i(class="fa-solid fa-bars fa-fw")