doctype 
html
    include pug-includes/head
    body.dark
        include pug-includes/layout/header
        // Start Landing 
        .landing#home
            .settings
                button(class='main-btn light-btn')
                    i(class="fa-solid fa-sun light")
                button(class='main-btn dark-btn  d-none')
                    i(class="fa-solid fa-moon dark")
            p My Name Is Mohamed, I am A 
                span Web Developer
                |.
            img(src="media/imgs/me.png")
            a.main-btn(href="#about") See More
        // End Landing 
        // Start About
        .about#about
            h2.section-header About Me 
            h4 A Childhood Spark: The Day My Passion for Technology Began
            .content 
                p 
                    Since I Was Three Years Old, My Father Bought A PC For Our Family.
                    It Was The Most Beautiful And Efficient Day Of My Entire Life. That
                    Moment Sparked My Passion For Technology And Set Me On A Path Of Discovery
                    And Innovation.
                img(src="media/imgs/about.jpg")
        // End About
        // Start Skills
        .skills#skills
            h2.section-header My Skills
            h4 As A Web Developer, I Excel In These Skills
            .content 
                .skill 
                    h3.name HTML
                    .progress 
                        span(data-progress='100%')
                .skill 
                    h3.name CSS
                    .progress 
                        span(data-progress='90%')
                .skill 
                    h3.name JavaScript
                    .progress 
                        span(data-progress='100%')
                .skill 
                    h3.name Bootstrap
                    .progress 
                        span(data-progress='70%')
                .skill 
                    h3.name SASS
                    .progress 
                        span(data-progress='100%')
                .skill 
                    h3.name PugJS
                    .progress 
                        span(data-progress='100%')
                .skill
                    h3.name GulpJS
                    .progress 
                        span(data-progress='90%')
                .skill
                    h3.name React
                    .progress 
                        span(data-progress='70%')
                .skill
                    h3.name PHP
                    .progress 
                        span(data-progress='85%')
                .skill
                    h3.name MySQL 5
                    .progress 
                        span(data-progress='80%')
                .skill
                    h3.name Laravel
                    .progress 
                        span(data-progress='100%')
        // End Skills
        // Start Projects
        .projects#projects
            h2.section-header My Projects
            h4 I Made Many Projects In Many Fields, Here Are Some
            ul.fields 
                li(data-field='all' class='disabled-btn') All
                li(data-field='cpp') C++
                li(data-field='web') Web
                li(data-field='games') Games
            .projects-container
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/1.png")
                    .text 
                        h3.project-title Bootstrap Project
                        p Here Is My First Bootstrap Project.
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/2.png")
                    .text
                        h3.project-title SASS Multilingual Website
                        p It Was A Great Journey Especially To Make The Website Multilingual(Arabic And English).
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/3.png")
                    .text
                        h3.project-title JavaScript & CSS Are The Best
                        p This Is My Third Project And It Is Very Precious And Valuable In My Heart.
                div(class='project' data-field='cpp')
                    img(src="media/imgs/projects/4.png")
                    .text
                        h3.project-title Bank Project Using C++
                        p My First Project Using C++ Was Very Big Project, Using OOP, Using Small Data Base.
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/5.png")
                    .text
                        h3.project-title Quiz Game(TechTonic)
                        p Using JSON Files, I Made Quiz Game Includes Tech Questions And Different Categories To Choose Between Them.
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/6.png")
                    .text 
                        h3.project-title To Do List Using Local Storage
                        p I Used Local Storage, So If User Closed The Website It Will Still Be Saved If Didn't Delete Its Tasks.
                div(class='project' data-field='cpp')
                    img(src="media/imgs/projects/7.png")
                    .text
                        h3.project-title ATM Project Using C++
                        p This Is My Second C++ Project, Using C++ Concepts To Make ATM With All Normal ATM Features.
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/8.png")
                    .text
                        h3.project-title Weather App
                        p This Project Is Based On API To Check The Weather State Wherever And Whenever.
                div(class='project' data-field='games')
                    img(src="media/imgs/projects/9.png")
                    .text
                        h3.project-title Hangman Game
                        p Beautiful Game Using Basics Of Web: HTML, CSS And Advanced JavaScript
                div(class='project' data-field='games')
                    img(src="media/imgs/projects/10.png")
                    .text
                        h3.project-title Guess The Word Game
                        p Beautiful Game Using Basics Of Web: HTML, CSS And Advanced JavaScript
                div(class='project' data-field='games')
                    img(src="media/imgs/projects/11.png")
                    .text
                        h3.project-title Typing Speed Game
                        p Beautiful Game Using Basics Of Web: HTML, CSS And Advanced JavaScript
                div(class='project' data-field='web')
                    img(src="media/imgs/projects/12.png")
                    .text
                        h3.project-title Fetch Github Repositories
                        p A Website For Fetching Github Repositories By Username.
            p.main-btn See More On 
                span 
                    a(href="https://github.com/mmoha-100" target='_blank') 
                        i(class="fa-brands fa-github fa-fw")
        // End Projects
        // Start Education
        .education#education 
            h2.section-header Education
            h4 Here Are My Certificates
            ul 
                ul.the-base 
                    p The Base:
                    li 
                        a(href="media/PDF/Certificates/English/B2+.pdf" download) 01) B2+ English Certificate From SmallTalkToMe
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/1.pdf" download) 02) Programming Foundations - Level 1
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/2.pdf" download) 03) Algorithms & Problem-Solving - Level 1
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/3.pdf" download) 04) Programming Using C++ Level - 1
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/4.pdf" download) 05) Algorithms & Problem-Solving - Level 1 Using C++
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/5.pdf" download) 06) Algorithms & Problem-Solving - Level 2
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/6.pdf" download) 07) Introduction to Programming Using C++ - Level 2
                    li 
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/7.pdf" download) 08) Algorithms & Problem Solving - Level 3
                    li
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/8.pdf" download) 09) Algorithms & Problem Solving - Level 4
                    li
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/10.pdf" download) 10) OOP as it Should Be (Concepts)
                    li
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/11.pdf" download) 11) OOP as it Should Be (Applications)
                    li
                        a(href="media/PDF/Certificates/Programming/Abu Hadhud/12.pdf" download) 12) Data Structures Level - 1
                ul.web 
                    p Web Development:
                    li 
                        a(href="media/PDF/Certificates/Programming/Web Development/HTML.pdf" download) 1) HTML
                    li 
                        a(href="media/PDF/Certificates/Programming/Web Development/HTML.pdf" download) 2) CSS
                    li 
                        a(href="media/PDF/Certificates/Programming/Web Development/HTML.pdf" download) 3) JavaScript
                    li 
                        a(href="media/PDF/Certificates/Programming/Web Development/HTML.pdf" download) 4) Web Development
            p
                a(href='media/imgs/CV.png' class='main-btn' download) Download My CV
        // End Education
        // Start Contact
        .contact#contact
            h2.section-header Contact Me
            h4 You Can Contact Me Using One Of These 
            ul.social-media
                li 
                    a(href='https://t.me/mmoha_101' target='_black')
                        i(class="fa-brands fw-fw telegram fa-telegram")
                li 
                    a(href='https://instagram.com/mmoha_100' target='_black')
                        i(class="fa-brands fw-fw instagram fa-instagram")
                li 
                    a(href='https://facebook.com/share/1AqZchrMJk' target='_black')
                        i(class="fa-brands fw-fw facebook fa-facebook")
                li 
                    a(href='https://github.com/mmoha-100' target='_black')
                        i(class="fa-brands fw-fw github fa-github")
        // End Contact
        .footer
            p &copy; 2025 All Rights Reserved
            p Designed By 
                span Mohamed Habib
        script(src="js/all.min.js")
        script(src="js/main.js")